body
{
	background-color: #3498db;
	font-family: Arial;
}

#imgframe
{
	margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

#img
{
	margin-left: auto;
    margin-right: auto;
    display: block;
	height: 400px;
	width: auto;
	float: center;
}

#title
{
	font-size: 300%;
	text-align: center;
	font-family: Arial;
}

#upload
{
	float: left;
}

#login
{
	float:right;
	text-align: right;
}
